:root {
    /* Colors */
    --primary-color: #790b0b;
    --primary-tinted: #6e0909;
    --primary-outline: #540404;
    --secondary-color: #8c710c;
    --text-color: #ffffff;
    --text-shade-color: #d3d1d1;
    --text-tinted-color: #807c7c;
    --bg-color: #212529;
    --shadow-color: #832d2d;
    --disabled-color: #623737;
    --card-shadow: rgba(48, 50, 56, 0.8);

    --form-bg: rgba(54, 57, 59, 0.62);
    --form-outline: #2a2c36;
    --form-outline-focused: #363949;

    --appbar-bg: #362c2c;
    --appbar-tab-margin: 10pt;

    --link-color: #2874af;
    --link-hover-color: #2b81c4;
}
