:root {
    --page-padding-h: 40pt;
    --page-padding-v: 10pt;

    --main-btn-size: 16pt;
    --btn-padding-horizontal: 12pt;
    --btn-padding-vertical: 6pt;

    --card-padding-horizontal: 24pt;
    --card-padding-vertical: 20pt;
    --card-border-radius: 16pt;

    --title-1-size: 26pt;
    --title-2-size: 22pt;
    --subtitle-size: 18pt;
    --paragraph-size: 16pt;
    --nav-tab-size: 20pt;
}
