:root {
    --page-padding-h: 50pt;
    --page-padding-v: 10pt;

    --main-btn-size: 16pt;
    --btn-padding-horizontal: 12pt;
    --btn-padding-vertical: 6pt;
    /* Paddings */
    --card-padding-horizontal: 24pt;
    --card-padding-vertical: 20pt;
    --card-border-radius: 16pt;
    --appbar-tab-margin: 10pt;
    /* Font sizes */
    --title-1-size: 26pt;
    --title-2-size: 22pt;
    --subtitle-size: 18pt;
    --paragraph-size: 16pt;
    --nav-tab-size: 18pt;
}

[data-theme="dark"] {
    /* Colors */
    --primary-color: #a61c1c;
    --primary-tinted: #ab2a3c;
    --primary-outline: #590505;
    --secondary-color: #8c710c;
    --text-color: #ffffff;
    --text-shade-color: #d3d1d1;
    --text-tinted-color: #807c7c;
    --bg-color: #212529;
    --shadow-color: #6b2828;
    --disabled-color: #623737;
    --card-shadow: rgba(48, 50, 56, 0.8);

    --form-bg: rgba(54, 57, 59, 0.62);
    --form-outline: #2a2c36;
    --form-outline-focused: #363949;

    --appbar-bg-1: #422424;
    --appbar-bg-2: #342b2b;

    --link-color: #2874af;
    --link-hover-color: #2b81c4;
}

[data-theme="light"] {
    /* Colors */
    --primary-color: #a41731;
    --primary-tinted: #96101b;
    --primary-outline: #7e0a1a;
    --secondary-color: #8c710c;
    --text-color: #2c2626;
    --text-shade-color: #4f3030;
    --text-tinted-color: #777171;
    --bg-color: #ece3e5;
    --shadow-color: #b77b85;
    --disabled-color: #88636a;
    --card-shadow: rgba(48, 50, 56, 0.8);

    --form-bg: rgba(194, 181, 181, 0.85);
    --form-outline: #8e8e91;
    --form-outline-focused: #51535e;

    --appbar-bg-1: rgba(154, 81, 81, 0.89);
    --appbar-bg-2: rgba(180, 146, 146, 0.81);

    --link-color: #2874af;
    --link-hover-color: #2b81c4;
}

/* Google icons */
.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: default;
    color: var(--text-shade-color);
    border-radius: 50px;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    background-color: var(--bg-color);
}

p {
    color: var(--text-color);
    font-size: var(--paragraph-size);
}

/* Modifiers */
.tinted {
    color: var(--text-tinted-color);
}

.center {
    text-align: center;
}

.pressable {
    cursor: pointer;
}

/* Main Button */
.btn-main {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: var(--main-btn-size);
    border-radius: 10pt;
    border: none;
    padding: var(--btn-padding-vertical) var(--btn-padding-horizontal) var(--btn-padding-vertical) var(--btn-padding-horizontal);
    box-shadow: 0.1pt 4pt 6pt 0.1pt var(--shadow-color), 0 5pt 14pt 0 var(--shadow-color);
}

.btn-main:hover {
    background-color: var(--primary-tinted);
    box-shadow: 0.2pt 6pt 12pt 0.2pt var(--shadow-color), 0 8pt 20pt 0 var(--shadow-color);
}

.btn-main:active {
    background-color: var(--primary-outline) !important;
}

.btn-main:disabled {
    background-color: var(--disabled-color) !important;
    box-shadow: 0.1pt 1pt 5pt 0.1pt var(--disabled-color), 0 5pt 14pt 0 var(--disabled-color);
}

/* Text Button */
.btn-text {
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    border: none;
}

.btn-text:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-shade-color);
}

.btn-text:active {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Appbar */
.appbar {
    padding: var(--page-padding-v) 0 var(--page-padding-v) var(--page-padding-h) !important;
    background: linear-gradient(180deg, var(--appbar-bg-1) 20%, var(--appbar-bg-2) 60%, var(--bg-color) 90%);
}

/* Navigator Tab */
.nav-tab {
    color: var(--text-color);
    font-weight: bold;
    font-size: var(--nav-tab-size);
    margin-left: var(--appbar-tab-margin);
    margin-right: var(--appbar-tab-margin);
}

.nav-tab:hover {
    color: var(--text-shade-color);
    font-weight: bold;
    cursor: pointer;
}

/* Nav tab active */
.nav-tab-active {
    color: var(--primary-color);
    font-weight: bold;
    font-size: var(--nav-tab-size);
    text-decoration: underline;
    text-underline-offset: 5pt;
    margin-left: var(--appbar-tab-margin);
    margin-right: var(--appbar-tab-margin);
}

.nav-tab-active:hover {
    color: var(--primary-tinted);
    font-weight: bold;
    cursor: pointer;
}

/* Text input */
.text-input {
    color: var(--text-shade-color);
    background-color: var(--form-bg);
    border: solid 1pt var(--form-outline);
    border-radius: 7pt;
    padding: var(--btn-padding-vertical) var(--btn-padding-horizontal) var(--btn-padding-vertical) var(--btn-padding-horizontal);
}

.text-input:focus {
    color: var(--text-shade-color);
    background-color: var(--form-bg);
    border: solid 1pt var(--form-outline-focused);
    border-radius: 7pt;
}

/* Link */
.link {
    color: var(--link-color);
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: var(--link-hover-color);
}

/* Checkbox */
.checkbox {
    background-color: var(--text-shade-color);
    border: 1pt var(--form-outline) solid;
    padding: 8pt;
}

.checkbox:checked {
    background-color: var(--primary-color);
    border: 1pt var(--primary-tinted) solid;
}


/* title-1 */
.title-1 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: var(--title-1-size);
}

.title-2 {
    font-weight: bold;
    font-size: var(--title-2-size);
}

.subtitle {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: var(--subtitle-size);
}

.paragraph {
    font-size: var(--paragraph-size);
}

/* Card */
.card {
    background-color: var(--form-bg);
    padding: var(--card-padding-vertical) var(--card-padding-horizontal) var(--card-padding-vertical) var(--card-padding-horizontal);
    border: 3pt solid var(--form-outline);
    border-radius: var(--card-border-radius);
    /*box-shadow: 2pt 4pt 6pt 2pt var(--card-shadow), 0 5pt 20pt 0 var(--card-shadow);*/
}

/* Avatar Pic */
.avatar-container {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Movie Card */
.movie-card {
    border-radius: 10px;
    padding: 20px;
    width: 160px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
    cursor: pointer;
}

.movie-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
}

.movie-title {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: -15px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
    display: block;
}